{% extends 'base.html' %}
{% block content %}
{% if res.state %}
<div class="alert alert-success alert-dismissible fade show" role="alert">
    <strong>Holy guacamole!</strong> Some info here soon <strong>{{res.state}}</strong> <strong>{{res.number}}.</strong>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{% endif %}

</br>
</br>
</br>
</br>
</br>

<div class="row row-cols-1 row-cols-md-3 g-4">
    <div class="col">
        <div class="card text-center">
            <div class="card-body">
                <h5 class="card-title">Staging E2E</h5>
                <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                <a href="javascript:{document.getElementById('runallstaging').submit()}">
                    <button type="button" class="btn btn-success btn-lg">Run E2E</button>
                </a>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card text-center">
            <div class="card-body">
                <h5 class="card-title">Production E2E</h5>
                <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                <a href="javascript:{document.getElementById('runallproduction').submit()}">
                    <button type="button" class="btn btn-danger btn-lg">Run E2E</button>
                </a>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card text-center">
            <div class="card-body">
                <h5 class="card-title">iOS Staging E2E</h5>
                <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content.</p>
                <a href="javascript:{document.getElementById('runallios').submit()}">
                    <button type="button" class="btn btn-primary btn-lg">Run iOS</button>
                </a>
            </div>
        </div>
    </div>
</div>
<form id='runallstaging' method='POST' action="{% url 'runAll' %}">
    {% csrf_token %}
    <input type="hidden" name="staging" id="staging" value="">
</form>
<form id='runallproduction' method='POST' action="{% url 'runAll' %}">
    {% csrf_token %}
    <input type="hidden" name="production" id="production" value="">
</form>
<form id='runallios' method='POST' action="{% url 'runAll' %}">
    {% csrf_token %}
    <input type="hidden" name="ios" id="ios" value="">
</form>
</br>
</br>
</br>
</br>
</br>
{% endblock %}
