{% extends 'base.html' %}
{% block content %}
</br>
</br>
</br>
</br>
</br>

<div class="card" style="width: 18rem;" method="post">
    {% csrf_token %}
    <div class="card-body">
        <h5 class="card-title">Staging All E2E</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <button type="button" type="submit" class="btn btn-success">Success</button>
    </div>
</div>

</br>
</br>
</br>
</br>
</br>
{% endblock %}
