{% extends 'base.html' %}
{% block content %}
{% if res.state %}
<div class="alert alert-success alert-dismissible fade show" role="alert">
    <strong>Holy guacamole!</strong> Some info here soon <strong>{{res.state}}</strong> <strong>{{res.number}}.</strong>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{% endif %}
</br>
</br>
</br>
</br>
</br>

<ul class="nav nav-pills flex-column flex-sm-row mb-3" id="pills-tab" role="tablist"
    xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
    <li class="nav-item mx-auto" role="presentation">
        <button class="nav-link active" id="pills-home-tab" data-bs-toggle="pill" data-bs-target="#pills-home"
                type="button" role="tab" aria-controls="pills-home" aria-selected="true">Web E2E
        </button>
    </li>
    <li class="nav-item mx-auto " role="presentation">
        <button class="nav-link" id="pills-profile-tab" data-bs-toggle="pill" data-bs-target="#pills-profile"
                type="button" role="tab" aria-controls="pills-profile" aria-selected="false">iOS E2E
        </button>
    </li>
</ul>
<div class="tab-content" id="pills-tabContent">
    <div class="tab-pane fade show active text-center" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
        <form method="post">
            {% csrf_token %}
            </br>
            </br>
            <div class="row">
                <div class="col-md-3 mx-auto">
                    <label for="branch" class="form-label">Select Branch</label>
                    <select class="form-select" name="branch" id="branch" required="">
                        <option value="">Choose...</option>
                        <option value="master">master</option>
                        {% for branch in branches %}
                        <option value={{branch.name}}>{{branch.name}}</option>
                        {% endfor %}
                    </select>
                    </br>
                    <label for="webenv" class="form-label">Select Environment</label>
                    <select class="form-select" name="webenv" id="webenv" required="">
                        <option value="">Choose...</option>
                        <option value="testBS">Staging</option>
                        <option value="testBSProd">Production</option>
                    </select>
                    </br>
                    <label for="webdir" class="form-label">Select Test Section</label>
                    <select class="form-select" name="webdir" id="webdir" required="">
                        <option value="">Choose...</option>
                        {% for path in e2e %}
                        <option value=/{{path.name}}>{{path.name}}</option>
                        {% endfor %}
                    </select>
                </div>
                </br>
            </div>
            </br>
            </br>
            <button type="submit" class="btn btn-primary btn-lg">Run custom E2E</button>
        </form>
    </div>
    <div class="tab-pane fade text-center" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
        <form method="post">
            {% csrf_token %}
            </br>
            </br>
            <div class="row">
                <div class="col-md-3 mx-auto">
                    <label for="branch" class="form-label">Select Branch</label>
                    <select class="form-select" name="branch" id="branchios" required="">
                        <option value="">Choose...</option>
                        <option value="master">master</option>
                        {% for branch in branches %}
                        <option value={{branch.name}}>{{branch.name}}</option>
                        {% endfor %}
                    </select>
                    </br>
                    <label for="webenv" class="form-label">Select Environment</label>
                    <select class="form-select" name="webenv" id="webiosenv" required="">
                        <option value="">Choose...</option>
                        <option value="testBsIos">Staging</option>
                        <option value="testBsIosProd">Production</option>
                    </select>
                    </br>
                    <label for="webdir" class="form-label">Select Test Section</label>
                    <select class="form-select" name="webdir" id="webiosdir" required="">
                        <option value="">Choose...</option>
                        {% for path in ios %}
                        <option value=Mobile/{{path.name}}>{{path.name}}</option>
                        {% endfor %}
                    </select>
                </div>
                </br>
            </div>
            </br>
            </br>
            <button type="submit" class="btn btn-primary btn-lg">Run custom E2E</button>
        </form>
    </div>
</div>

</br>
</br>
</br>
</br>
</br>
{% endblock %}
